#%#- ICON
#%#-
#%#- ------------------------------------------
#%#- Copyright (C) 2004-2025, DWD, MPI-M, DKRZ, KIT, ETH, MeteoSwiss
#%#- Contact information: icon-model.org
#%#- See AUTHORS.TXT for a list of authors
#%#- See LICENSES/ for license information
#%#- SPDX-License-Identifier: BSD-3-Clause
#%#- ------------------------------------------

# --- begin Hiopy: check-config, create run-wrapper, update mpmd
# check config completion
#%  set required_params=['venv', 'nr_of_workers', 'relative_path_to_dataset', 'storage_backend']
#%  for param in required_params:
#%    if param not in hiopy or hiopy[param] is undefined:
#%    do die("hiopy.{} must be defined in the config when hiopy is used".format(param))
#%    endif
#%  endfor
echo "Hiopy configured with venv: %{hiopy.venv}, nr_of_workers: %{hiopy.nr_of_workers}, dataset path: %{hiopy.relative_path_to_dataset}, backend: %{hiopy.storage_backend}"

#% if hiopy.storage_backend == 's3':
zarr_store_path=%{hiopy.relative_path_to_dataset}
#% else:
zarr_store_path="%{DATA_DIR}/%{hiopy.relative_path_to_dataset}"
#% endif

## Run wrapper for the hiopy worker
cat > run_hiopy.sh << EOF
#!/bin/sh
source %{hiopy.venv}/bin/activate
hiopy-worker --zarr-store-protocol %{hiopy.storage_backend} \
             --zarr-store-path %{DATA_DIR}/%{hiopy.relative_path_to_dataset} \
             --nthreads %{threads_per_task}
EOF
chmod 755 ./run_hiopy.sh

#%  if JOB.use_mpmd is set:
# creating mpmd file
# Create MPMD config file
exec 3>&1 # save stdout
exec > icon_mpmd.conf

python << EOF
# Distribute hiopy evenly across ranks, centered in their subrange
nr_of_workers_alloted=%{hiopy.nr_of_workers}
hiopy_inc_rank=$mpi_total_procs//nr_of_workers_alloted
for rank in range(hiopy_inc_rank//2, $mpi_total_procs, hiopy_inc_rank)[:nr_of_workers_alloted]:
    print(f"{rank} ./run_hiopy.sh")
EOF
echo "* ${MODEL}"
exec 1>&3 # restore stdout
#%  endif

# --- end Hiopy
#
