#%#- ICON
#%#-
#%#- ---------------------------------------------------------------
#%#- Copyright (C) 2004-2026, DWD, MPI-M, DKRZ, KIT, ETH, MeteoSwiss
#%#- Contact information: icon-model.org
#%#-
#%#- See AUTHORS.TXT for a list of authors
#%#- See LICENSES/ for license information
#%#- SPDX-License-Identifier: BSD-3-Clause
#%#- ---------------------------------------------------------------
#
# Setup for generic system
#
# $Id: run/mkexp/environments/DEFAULT.tmpl 3 2026-04-01 13:33:26Z m221078 $
#
#%#
#%- set language = JOB.language|d("sh")
#%  include 'mkexp/environments/DEFAULT.environment.'+language+'.tmpl' ignore missing
#%#
